// fonts
$font-main: 'Roboto', sans-serif;
$font-secundary: 'Roboto Slab', sans-serif;
$text-color: black;
$text-colorwhite: white;


// colors
$color-white: #ffffff;
$color-orange: #f26002;
$color-blue: #0271bc;
$color-darkblue:#304268;
$color-lightblue:#eff9ff;
