
.first-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 30px 15px 30px 15px
}
.subtitle-fsection {
    color: #8ccbea;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.title-fsection {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
}
.text-fsection {
    color: #4a4a4a;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.btn-go {
    border-radius: 22.5px;
    border: solid orangered 3px;
    color: orangered;
    background-color: white;
    width: 76px;
    height: 45px;
    margin: 20px 0 20px 0;
    font-family: 'Roboto', sans-serifq;
    font-size: 20px;
    transition: all ease 0.5s;
}

