.third-module {
    background-color: #eff9ff;
    display: grid;
    text-align: center;

    &__title {
        font-family: 'Roboto', sans-serifq;
        font-size: 24px;
        line-height: 30px;
        margin: 30px 20px 45px 20px;

    }
    &__article {
        font-family: 'Roboto', sans-serifq;
        font-size: 18px;
        line-height: 30px;
        margin: 0 68px 45px 68px;
    }
    &__btn {
        font-size: 20px;
        color: white;
        background: #f26002;
        width: 184px;
        margin-bottom: 60px;
        justify-self: center;
        border: none;
        transition: all ease 0.5s;
        border-radius: 22.5px ;
        padding: 0.7rem;
    }
}
/*
.third-module__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.third-module__article {
    font-family: 'Roboto', sans-serifq;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
}
.third-module__btn {
    font-size: 20px;
    color: white;
    background: #f26002;
    width: 184px;
    margin-bottom: 60px;
    justify-self: center;
    border: none;
    transition: all ease 0.5s;
    border-radius: 22.5px ;
    padding: 0.7rem;
}*/