.second-section {
    background-color: #eff9ff;
    display: grid;
    text-align: center;
}
.title-ssection {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.article {
    font-family: 'Roboto', sans-serifq;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
}
.btn-mr {
    font-size: 20px;
    color: white;
    background: #f26002;
    width: 184px;
    margin-bottom: 60px;
    justify-self: center;
    border: none;
    transition: all ease 0.5s;
    border-radius: 22.5px ;
    padding: 0.7rem;
}