<footer class="footer">
    <div class="scroll-up"><a href="index.html#menu" title="menu"></a>
        <img src="../images/ico-arrow.png" alt="Icono de scroll-up" class="icon-scroll-up" alt="scroll-up">
    </div>
    <div class="footer">
        <nav class="menu-footer">
            <ul class="menu-footer-list">
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank"
                        alt="Enlace a Articles">ARTICLES</li></a>
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank" alt="Enlace a Books">BOOKS
                </li></a>
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank" alt="Enlace a Events">EVENTS
                </li></a>
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank"
                        alt="Enlace a Reason">REASONS</li></a>
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank" alt="Enlace a Tips">TIPS
                </li></a>
            </ul>
        </nav>
        <nav class="menu-redes">
            <ul class="menu-footer-list">
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank"
                        alt="Enlace a Twitter">TWITTER</a></li>
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank"
                        alt="Enlace a Instagram">INSTAGRAM</li></a>
                <li class="menu-link"><a href="https://adalab.es/" title="" target="_blank"
                        alt="Enlace a Mastodon.Social">MASTODON.SOCIAL</li></a>
            </ul>
        </nav>
        <p class="copyright">
            &copy; 2023 <br />
            we ❤️ components
        </p>
    </div>
</footer>