<footer class="fourth-module">
        <div class="fourth-module__scroll-up"><a href="index.html#menu" title="Ir al inicio de la página">
                        <img src="../images/ico-arrow.png" alt="Icono de scroll-up"
                                class="fourth-module__icon-scroll-up" alt="scroll-up"></a>
        </div>
        <div class="fourth-module__footer">
                <nav class="fourth-module__menu1">
                        <ul class="fourth-module__list">
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Articles">ARTICLES</li></a>
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Books">BOOKS
                                </li></a>
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Events">EVENTS
                                </li></a>
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Reason">REASONS</li></a>
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Tips">TIPS
                                </li></a>
                        </ul>
                </nav>
                <nav class="fourth-module__menu2">
                        <ul class="fourth-module__list">
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Twitter">TWITTER</a></li>
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Instagram">INSTAGRAM</li></a>
                                <li><a href="https://adalab.es/" class="fourth-module__link" title="" target="_blank"
                                                alt="Enlace a Mastodon.Social">MASTODON.SOCIAL</li></a>
                        </ul>
                </nav>
                <p class="fourth-module__copyright">
                        &copy; 2023 <br />
                        we ❤️ components
                </p>
        </div>
</footer>