<header class="first-module">
    <!-- <img src="../images/cover.png" alt="foto de Nueva York" class="img-cover">
    -->
    <div class="first-module__menu"><a href="https://adalab.es/" target="_blank"></a>
        <img src="../images/ico-menu.png" alt="icono del menú" class="first-module__icon">
    </div>
    <div class="first-module__text">
        <h1 class="first-module__title">ANONYMOUS <br /> PROXY</h1>
        <h4 class="first-module__subtitle">In hac habitasse platea dictumst.</h4>
    </div>
    <div class="first-module__scroll-down">
        <img src="../images/ico-scroll-down.png" alt="Icono de scroll hacia abajo"
            class="first-module__icon-scroll-down">
    </div>
    </section>
</header>