<main>
    <section class="first-section">
        <h5 class="subtitle-fsection">Insomnia Tips</h5>
        <h2 class="title-fsection">Looking Through A Window</h2>
        <p class="text-fsection">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus semper sodales retrum.</p>
        <button class="btn-go">Go</button>
    </section>
    <section class="second-section">
        <h2 class="title-ssection">3 Reason To Purchase</h5>
            <article class="article">
                <h3 class="title-article">Ut sed metus</h3>
                <p class="text-article">Lorem ipsun dolor sit amete, consecteur.</p>
            </article>
            <article class="article">
                <h3 class="title-article">Curabitur ac erat</h3>
                <p class="text-article">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="article">
                <h3 class="title-article">Morbe dictum</h3>
                <p class="text-article">Aliquan in dolor et dolor tincidunt.</p>
            </article>
            <button class="btn-mr">More reason</button>
    </section>
</main>