<main>
    <section class="second-module">
        <h5 class="second-module__subtitle">Insomnia Tips</h5>
        <h2 class="second-module__title">Looking Through A Window</h2>
        <p class="second-module__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
            diam
            nec lectus. Vivamus semper sodales retrum.</p>
        <button class="second-module__btn">Go</button>
    </section>
    <section id="3-reasons" class="third-module">
        <h2 class="third-module__title">3 Reasons To Purchase</h5>
            <article class="third-module__article1">
                <h3 class="third-module__title-article">Ut sed metus</h3>
                <p class="third-module__text">Lorem ipsun dolor sit amete, consecteur.</p>
            </article>
            <article class="third-module__article2">
                <h3 class="third-module__title-article">Curabitur ac erat</h3>
                <p class="third-module__text">Mauris mattis urna quis lorem molestie.</p>
            </article>
            <article class="third-module__article3">
                <h3 class="third-module__title-article">Morbe dictum</h3>
                <p class="third-module__text">Aliquan in dolor et dolor tincidunt.</p>
            </article>
            <button class="third-module__btn">More reason</button>
    </section>
</main>