@import 'core/variables';
@import './core/reset';
/*@import 'components/code';
@import 'components/links';*/
@import './layout/first-module.scss';
@import './layout/second-module.scss';
@import './layout/third-module.scss';
@import './layout/fourth-module.scss';
@import './mediaqueries/first-module';
@import './mediaqueries/second-module';
@import './mediaqueries/third-module';
@import './mediaqueries/fourth-module';
/*@import 'pages/index';*/

:root{
    --text-color: black;
    --text-colorwhite: white;
    --font-main: 'Roboto', sans-serif;
    --font-secundary: 'Roboto Slab', sans-serif;
    --color-orange: #f26002;
    --color-white: #ffffff;
    --color-lightblue: #8ccbea;
    --color-cerulean: #0271bc;
    --color-darkgreyblue: #304268;
}
